body {
    --bs-body-font-size: 1.125rem !important;
    --bs-body-font-weight: 450 !important;
    line-height: 1.625;
}

.card-shadow:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06) !important;
}

.link {
    display: inline-block;
    color: var(--bs-nav-link-color);
    text-decoration: none;
}

.link:hover {
    color: var(--border-primary) !important;
}

.border-weight-bold {
    border-width: 2px 2px !important;
}

.text-dark-custom {
    color: var(--bs-body-color) !important;
}

.description {
    font-weight: 500;
    opacity: 0.7;
}

.text-bold-7 {
    font-weight: 700;
}

.hover-zoom {
    overflow: hidden;
}

.hover-zoom img:hover {
    transition: all .3s linear !important;
    transform: scale(1.1);
}

.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
}

.heading-title {
    font-size: 3rem;
    font-weight: 900;
    color: var(--heading-title-color);
}

.font-size-lg {
    font-size: 3rem;
}

.text-gray-5 {
    color: var(--bs-body-color) !important;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.border-left-primary {
    border-left: .25rem solid var(--bs-primary)!important
}

.border-left-danger {
    border-left: .25rem solid var(--bs-danger)!important
}

.border-left-warning {
    border-left: .25rem solid var(--bs-warning)!important
}

.border-left-info {
    border-left: .25rem solid var(--bs-info)!important
}

.bg-div {
    background-position: center;
    background-size: cover;
}

.bg-gradient-primary {
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
}

.form-control:focus {
    box-shadow: None !important;
}

.btn-icon {
    padding: 0;
    justify-content: center;
    overflow: hidden;
    border-radius: 100% !important;
    flex-shrink: 0;
    height: calc((0.875rem * 1) + (0.875rem * 2) + (2px)) !important;
    width: calc((0.875rem * 1) + (0.875rem * 2) + (2px)) !important;
}

.btn-transparent-dark {
    --bs-btn-color: rgba(33, 40, 50, 0.5);
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: rgba(33, 40, 50, 0.5);
    --bs-btn-hover-bg: rgba(33, 40, 50, 0.1);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-focus-shadow-rgb: 11, 14, 17;
    --bs-btn-active-color: rgba(33, 40, 50, 0.5);
    --bs-btn-active-bg: rgba(33, 40, 50, 0.2);
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgba(33, 40, 50, 0.35);
    --bs-btn-disabled-bg: rgba(33, 40, 50, 0.1);
    --bs-btn-disabled-border-color: transparent;
    color: rgba(33, 40, 50, 0.5) !important;
}

.sidenav-menu-item {
    padding: 1.75rem 0.5rem 0.75rem;
    font-size: 0.8rem;
    font-weight: 750;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #a7aeb8;
}

.shadow-right {
    box-shadow: 0.15rem 0.15rem 0.5rem 0 rgba(33, 40, 50, 0.1) !important;
}

.sidebar-icon {
    font-weight: 400;
    color: #969fac
}

#sidebar::-webkit-scrollbar-track
{
	border-radius: 5px;
}

#sidebar::-webkit-scrollbar
{
	width: 5px;
}

#sidebar::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #ddd;
}

.sidebar .accordion-button:not(.collapsed) {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    color: var(--border-primary);
}
